.about-text {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	letter-spacing: 0.03em;
	color: var(--main-txt-color);
	margin-bottom: 50px;
}
.about-text {
	display: flex;
	justify-content: center;
}
.about-list {
	display: flex;
}
.about-list :not(:last-child) {
	margin-right: 30px;
}