.benefits {
	padding-bottom: 60px;
	padding-top: 60px;

	@media screen and (min-width: 1200px) {
		padding-bottom: 94px;
		padding-top: 94px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}
	&__li {
		@media screen and (min-width: 768px) {
			width: calc((100% - 30px) / 2);
		}
		@media screen and (min-width: 1200px) {
			width: calc((100% - 90px) / 4);
		}
	}
	&__pre-text {
		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: var(--main-txt-color);
		margin-bottom: 10px;
	}
	&__text {
		line-height: 1.71;
		letter-spacing: 0.03em;
		color: var(--paragraf-txt-color);
		margin-bottom: 18px;
		width: 270px;
	}
	&__link {
		width: 270px;
		height: 120px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #f5f4fa;
		margin-bottom: 30px;
	}
}
