.section-work {
	background-color: var(--white-color);
	padding-top: 94px;
	padding-bottom: 94px;
}
.button-ul {
	margin-bottom: 34px;
	display: flex;
	justify-content: center;
}
.button-filter {
	border: none;
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	letter-spacing: 0.03em;
	color: var(--main-txt-color);
	border-radius: 4px;
	margin-left: 8px;
	padding: 6px 22px;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-filter:hover,
.button-filter:focus {
	background-color: var(--accent-color);
	color: var(--white-color);
}
.current-button {
	color: var(--white-color);
	background-color: var(--accent-color);
}
.work-list {
	display: flex;
	flex-wrap: wrap;
	margin-right: -30px;
	margin-bottom: -30px;
}
.work-wrap {
	position: relative;
	overflow: hidden;
}

.work-li {
	background-color: var(--white-color);
	display: block;
	width: calc((100% / 3) - 30px);
	margin-right: 30px;
	margin-bottom: 30px;
	position: relative;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-li:hover .work-li-text {
	transform: translateY(0);
}
.work-li-text {
	position: absolute;
	top: 0;
	color: var(--white-color);
	background-color: rgba(33, 150, 243, 0.9);
	line-height: 1.5;
	padding: 40px;
	height: 100%;
	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-li:hover,
.work-li:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
		0px 4px 4px rgba(0, 0, 0, 0.06),
		1px 4px 6px rgba(0, 0, 0, 0.16);
}
.work-li :not(:nth-child(3)) {
	margin-right: 0;
}
.work-name {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--main-txt-color);
	margin-bottom: 4px;
}
.work-text {
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
	color: var(--paragraf-txt-color);
}
.work-card {
	display: block;
	background: #ffffff;
	border: 1px solid #eeeeee;
	width: 370px;
	border-top: 0;
	padding: 20px 24px;
}
