.conect__list {
	display: flex;
	justify-content: center;
}
.conect__li {
	width: 44px;
	height: 44px;
	margin-right: 10px;
}
.conect__li:last-child {
	margin: 0;
}
.conect__link {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.conect__icon {
	fill: currentColor;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.conect__link:hover,
.conect__link:focus {
	background-color: var(--accent-color);
	color: var(--white-color);
}
