.list {
	list-style: none;
}
.link {
	text-decoration: none;
}
.pre-text {
	color: var(--main-txt-color);
}
.text {
	color: var(--paragraf-txt-color);
	font-family: "Roboto";
}
.section {
	padding: 94px 0;
}
.button {
	cursor: pointer;
}